/.quarto/
**/*.quarto_ipynb
/book/_book/
/book/index.aux
/book/index.log
/book/index.pdf
/book/index.tex
/book/index.toc
/book/tmp/
/.venv/
__pycache__/
.ipynb_checkpoints/
/paper/_build/
/paper/arxiv/main.aux
/paper/arxiv/main.log
/paper/arxiv/main.out
/paper/arxiv/main.pdf
